service cloud.firestore {
  match /databases/{database}/documents {
    match /polls/{pollId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}